*{
	margin:0px;
	padding:0px;
	font-family: 'Roboto Slab', serif;
}
#containerheader{
    background-color: #80E2E7;

}
#logo{
    position: absolute;
    left:30px;
    top:6px;
}
.logo_imagen{
	width: 51px;
}
.pets_app{
	font-size: 30px;
	color: black;
    font-weight: bold;
    position: relative;
    top:-10px;
}
header{
    width: 100%;
    z-index: -1;
}
.nav{
    margin-right:1%;
}
.nav ul{
   display: flex;
   color: white;
   background-color: #80E2E7;
    margin:0;
   justify-content: flex-end;
   list-style:none;
}
.nav li a{
    display: block;
    padding: 20px 20px;
    color:white;
    font-size: 15px;
    text-decoration:none;
}
.nav ul ul{
    width: 125px;
    display: block;
	background-color: #80E2E7;
    position: absolute;
    top: 60px;
    margin-left: 8px;
    opacity: 0;
    
}
.nav ul li:hover ul{
    opacity: 1;
}
.container{
    width: 95%;
    height: 50%;
    border: 1px solid black;
    margin-left: 2.4%;
}
.container1{
    width: 50%;
    height: auto;
}
.container2{
    width: 50%;
    height: auto;
    float: right;
    margin-top: -27.3%;
}
.titulo{
    font-size: 40px;
}
.icono{
    width: 48px; 
    height: 45px;
}
.letra{
    margin-left: 5%;
}
.form1, #sexo{
    width: 90%;
    padding: 7px 20px;
    margin: 8px 0;
    margin-left: 5%;
    box-sizing: border-box;
    border:  1px solid #80E2E7;
    border-radius: 3%;
}

.form3{
    width: 90%;
    padding: 45px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:  1px solid #80E2E7;
    margin-left: 5%;
}
.boton{
    width: 25%;
    height: 40%;
    margin-left: 38%;
    margin-top: -2%;
    margin-bottom: 9px;
    position: relative;
    border: 1px solid #2ECC71;
	font-size: 19px;
	color: black;
    background: #2ECC71;
    box-sizing: border-box;
}
