*{
	margin:0px;
	padding:0px;
	font-family: 'Roboto Slab', serif;
}
#containerheader{
	width: 100%;
    height: auto;
    background-color: #80E2E7;
}
#logo{
    position: absolute;
    left:30px;
    top:6px;
}
.logo_imagen{
	width: 51px;
}
.pets_app{
	font-size: 30px;
	color: black;
    font-weight: bold;
    position: relative;
top:-10px;
}
header{
    width: 100%;
    z-index: -1;
}
.nav{
    margin-right:1%;
}
.nav ul{
   display: flex;
   color: white;
   background-color: #80E2E7;
    margin:0;
   justify-content: flex-end;
   list-style:none;
}
.nav li a{
    display: block;
    padding: 20px 20px;
	color:white;
    text-decoration:none;
}
.nav ul ul{
    display: block;
	background-color: #80E2E7;
    position: absolute;
    top: 60px;
    margin-left: 8px;
    opacity: 0;
    
}
.nav ul li:hover ul{
    opacity: 1;
}